<div>
	<div class="container postboard_container">
		<div class="row">
			<div class="col-md-3 left-sidebar">
				<ul>
					<li>
						<div class="input-group search-bar">
							<input type="text" class="form-control" placeholder="Search" aria-label="Search Bar">
								<span class="input-group-btn">
						        	<button class="btn btn-default" type="button">
						        		<span class="glyphicon glyphicon-search"></span>
						        	</button>
						      </span>
							</span>
						</div>
					</li>
				</ul>
				<ul class="nav nav-pills nav-stacked">
					{{#if page_names.length}}
						{{#each term in page_names}}
							<li {{action "sidebarPageClick" term}}><a href="#">{{term}}</a></li>
						{{/each}}
					{{/if}}
				</ul>
			</div>
			<div class="col-md-9 submit-job-group">
				<h2 class="submit-job-title">Submit a Job</h2>

				<div class="input-group input-group-lg pull-right">
					<input type="text" class="form-control" placeholder="Company" valueBinding="controller.submitCompanyName">
				</div>

				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Job Title" valueBinding="controller.submitJobTitle">
				</div>

				<div class="input-group input-group-lg pull-right">
					<input type="text" class="form-control" placeholder="Contact email" valueBinding="controller.submitEmail">
				</div>

				<div class="input-group input-group-lg desc-input">
					<input type="text" class="form-control" placeholder="Short description." valueBinding="controller.submitDescription">
				</div>

				

				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default">Full-time</button>
					<button type="button" class="btn btn-default">Internship</button>
				</div>

				<div class="school-dropdown-group pull-right">
					<div class="school-group btn-group-vertical">
						{{#each school in schools}}
							<div class="school">
								<span class="glyphicon glyphicon-ok hide" {{bind-attr id="school"}}></span>
								<button type="button" class="btn btn-default">{{school}}</button>
							</div>
						{{/each}}
					</div>
				</div>

				<button {{action "job_submit"}} type="button" class="btn btn-login btn-lg">Login</button>
			</div>
		</div>
	</div>
</div>